/*开头字体 微软雅黑 白色 80像素 居中*/
.font_style_title{
	text-align:center;
	font-family:'Microsoft Yahei','黑体'，'楷体';
	color:white;
	font-size:80px;
}
/*框框里的字体 微软雅黑 黑色 27像素 居中*/
.font_style_body{
	text-align:center;
	font-family:'Microsoft Yahei','New York',Times, TimesNR, 'New Century Schoolbook';
	font-size:27px;
	color: black;
}
/*框框 400*255像素 白色 80%透明度 灰色阴影*/
.background{
	width:400px;
	height:225px;
	background-color:white;
	box-shadow: 3px 3px 5px 5px grey;
	opacity:0.8;
}
/*副标题字体 35像素 微软雅黑 灰色 居中*/
p{
	font-size:35px;
	font-family:'Microsoft Yahei';
	color:#cccccc;
	text-align:center;
}
